<section class="container mx-auto py-12">
  <div class="border-r-8 border-l-8">
    <!-- Projet 3 -->
    <div class="relative shadow-lg rounded-lg overflow-hidden mb-8 mx-auto" style="width: 80%;">
      <!-- Image sans lien et sans animation -->
      <img src="assets/gestion_de_stock.webp.jpg" class="w-full h-64 object-cover">
      
      <!-- Gradient overlay -->
      <div class="absolute inset-0 bg-gradient-to-r from-gray-800 via-transparent to-transparent opacity-70"></div>
      
      <!-- Titre centré sans effet de transition -->
      <div class="project-link__title absolute left-4 top-1/2 transform -translate-y-1/2 text-white text-4xl font-extrabold uppercase">
        <span class="project-link__title_default">Gestion de stock</span>
      </div>

      <!-- Description bouton flouté -->
      <div class="absolute top-4 right-4 bg-gray-700 bg-opacity-90 text-white px-4 py-2 rounded-full">
        Projet personnel
      </div>
    </div>

    <div class="container mx-auto">
      <!-- Ajuster la grille à deux colonnes dès les petits écrans -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pl-4">
        <!-- Colonne Détails -->
        <div class="md:col-span-2 border-b-8 md:border-b-0 md:border-r-8">
          <h1 class="text-3xl font-bold mb-8">Détails</h1>
          <p class="text-lg mb-4">
            Ce projet est une application de gestion de stock développée avec Angular pour la partie front-end et Spring Boot pour la partie back-end. Elle permet de gérer des profils d'entreprise, des catégories d'articles, des mouvements de stock, ainsi que les commandes clients et fournisseurs. L'application assure un suivi en temps réel et permet d'effectuer des ajustements nécessaires tout en gérant les utilisateurs, clients et fournisseurs associés à chaque entreprise.
          </p>
          <a href="https://github.com/ThomasBerbigier/Gestion_de_stock" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300  mb-4 ml-8">
            <span class="font-semibold">Visiter le GitHub Front</span>
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
            </svg>
          </a>
          <a href="https://github.com/ThomasBerbigier/Gestion_de_stock_backend" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300  mb-4 ml-8">
            <span class="font-semibold">Visiter le GitHub Back</span>
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
            </svg>
          </a>
        </div>

        <!-- Stack -->
        <div class="flex flex-col">
          <h3 class="text-3xl font-bold mb-8">Stack</h3>
          <div class="grid grid-cols-3 gap-4 justify-center">
            <!-- Angular -->
            <div class="flex flex-col items-center">
              <img src="https://cdn.simpleicons.org/angular/DD0031" alt="Angular Icon" class="w-20">
              <p class="mt-2 text-center">Angular</p>
            </div>
            <!-- OpenAPI -->
            <div class="flex flex-col items-center">
              <img src="https://cdn.simpleicons.org/openapiinitiative/6BA539" alt="OpenAPI Icon" class="w-20">
              <p class="mt-2 text-center">OpenApi-Gen</p>
            </div>
            <!-- Node.js -->
            <div class="flex flex-col items-center">
              <img src="https://cdn.simpleicons.org/nodedotjs/339933" alt="Node.js Icon" class="w-20">
              <p class="mt-2 text-center">Node.js</p>
            </div>
            <!-- Java -->
            <div class="flex flex-col items-center">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" alt="Java Icon" class="w-20">
              <p class="mt-2 text-center">Java</p>
            </div>
            <!-- Spring Boot -->
            <div class="flex flex-col items-center">
              <img src="https://cdn.simpleicons.org/springboot/6DB33F" alt="Spring Boot Icon" class="w-20">
              <p class="mt-2 text-center">Spring Boot</p>
            </div>
            <!-- IntelliJ IDEA -->
            <div class="flex flex-col items-center">
              <img src="https://cdn.simpleicons.org/intellijidea/000000" alt="IntelliJ IDEA Icon" class="w-20">
              <p class="mt-2 text-center">IntelliJ IDEA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="grid grid-cols-1 gap-8 pl-4 mt-8">
        <div class="border-t-8 mr-8 ml-4"></div>
        
        <!-- Contexte -->
        <div class="mr-12">
          <h3 class="text-3xl font-bold mb-8">Contexte</h3>
          <p class="text-lg">
            Ce projet personnel visait à développer une solution complète de gestion de stock pour répondre aux besoins des entreprises. Elle m'a permis de monter en compétence sur les technologies Angular, Java et Spring Boot par le biai d'un projet complet.
          </p>
        </div>
        
        <div class="border-t-8 mr-8 ml-4"></div>
        <!-- Projet -->
        <div class="mr-12">
          <h3 class="text-3xl font-bold mb-8">Projet</h3>
          <p class="text-lg">
            Le projet se compose des fonctionnalités suivantes :
          </p>
          <ul class="list-disc list-inside text-lg leading-relaxed mt-4">
            <li>Créer et gérer des profils d'entreprise</li>
            <li>Gérer des catégories d'articles et suivre les mouvements de stock</li>
            <li>Créer des commandes clients et fournisseurs</li>
            <li>Visualiser l'état du stock en temps réel</li>
            <li>Gérer les utilisateurs, clients et fournisseurs associés à une entreprise</li>
          </ul>
        </div>

        <div class="border-t-8 mr-8 ml-4"></div>
        <!-- Défis Techniques -->
        <div class="mr-12">
          <h3 class="text-3xl font-bold mb-8">Défis Techniques</h3>
          <p class="text-lg">
            Le principal défi technique de ce projet a été l'intégration d'Angular avec Java Spring Boot, tout en assurant une gestion sécurisée des utilisateurs grâce à Spring Security et JWT. L'intégration d'OpenAPI pour générer les services et modèles a également nécessité une configuration précise.
          </p>
          <img src="assets/Capture d'écran 2024-09-24 233440.png" class="w-full md:w-2/3 mx-auto mt-4">
        </div>

        <div class="border-t-8 mr-8 ml-4"></div>
        <!-- Conclusion -->
        <div class="mr-12">
          <h3 class="text-3xl font-bold mb-8">Conclusion</h3>
          <p class="text-lg mb-4">
            Ce projet m'a permis de renforcer mes compétences en développement full-stack avec une architecture modulaire et sécurisée, tout en garantissant une cohérence entre le back-end et le front-end grâce à OpenAPI. L'adoption de Spring Security et JWT a également assuré un accès sécurisé aux données sensibles des entreprises.
          </p>
          <a href="https://github.com/ThomasBerbigier/Gestion_de_stock" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300  mb-4 ml-8">
            <span class="font-semibold">Visiter le GitHub Front</span>
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
            </svg>
          </a>
          <a href="https://github.com/ThomasBerbigier/Gestion_de_stock_backend" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300  mb-4 ml-8">
            <span class="font-semibold">Visiter le GitHub Back</span>
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
            </svg>
          </a>
        </div>

        <div class="border-t-8 mr-8 ml-4"></div>
          <!-- Section Autres Projets -->
            <h2 class="text-3xl font-bold mb-4">Autres Projets</h2>

            <!-- Grille à deux colonnes pour afficher les deux autres projets -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-4">
                <!-- Projet 1 -->
                <div class="relative shadow-lg rounded-lg overflow-hidden mb-8 project-link opacity-0 animate-slideUp project-delay-1 mr-4">
                    <a [routerLink]="['/projet1']" class="block"> <!-- Lien vers la page du projet 1 -->
                    <img src="assets/casino_table_dice.webp.webp" class="w-full h-64 object-cover">
                    
                    <!-- Gradient overlay -->
                    <div class="absolute inset-0 bg-gradient-to-r from-gray-800 via-transparent to-transparent opacity-70"></div>
                    
                    <!-- Titre avec effet de transition au survol, centré -->
                    <div class="project-link__title">
                        <!-- Titre par défaut -->
                        <span class="project-link__title_default">Jeu de dés</span>
                        <!-- Titre qui apparaît au survol -->
                        <span class="project-link__title_hover">Jeu de dés</span>
                    </div>
                    
                    <!-- Description bouton flouté -->
                    <div class="absolute top-4 right-4 bg-gray-700 bg-opacity-90 text-white px-4 py-2 rounded-full">
                        Projet en cours de formation
                    </div>
                    </a>
                </div>
                
                <!-- Projet 2 -->
                <div class="relative shadow-lg rounded-lg overflow-hidden mb-8 project-link opacity-0 animate-slideUp project-delay-3 mr-4">
                  <a [routerLink]="['/projet2']" class="block"> <!-- Lien vers la page du projet 2-->
                    <img src="assets/zoo.webp.webp" class="w-full h-64 object-cover">
                    
                    <!-- Gradient overlay -->
                    <div class="absolute inset-0 bg-gradient-to-r from-gray-800 via-transparent to-transparent opacity-90"></div>
                    
                    <!-- Titre avec effet de transition au survol, centré -->
                    <div class="project-link__title">
                      <!-- Titre par défaut -->
                      <span class="project-link__title_default">Zoo Arcadia</span>
                      <!-- Titre qui apparaît au survol -->
                      <span class="project-link__title_hover">Zoo Arcadia</span>
                    </div>

                    <!-- Description bouton flouté -->
                    <div class="absolute top-4 right-4 bg-gray-700 bg-opacity-90 text-white px-4 py-2 rounded-full">
                      Projet de fin de formation
                    </div>
                  </a>
                </div>
              </div>
      </div>
    </div>
  </div>
</section>
