<section id="a-propos" class="bg-gray-100 border-b-8 border-t-8 py-12">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Colonne À Propos (2/3) -->
            <div class="md:col-span-2 border-b-8 md:border-b-0 md:border-r-8 ml-2">
                <h2 class="text-3xl font-bold mb-4">À Propos</h2>
                <p class="text-lg mb-4 mr-12">Je m'appelle Thomas, et je suis un développeur web passionné basé en France, actuellement à la recherche d'une opportunité d'alternance pour un diplôme de Concepteur et Développeur d'Applications sur Lyon et ses alentours.</p>
                <!-- Bouton pour la page À Propos -->
                <a [routerLink]="['/apropos']" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300 mb-4">
                    <span class="font-semibold">En savoir plus</span>
                    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
                    </svg>
                </a>
            </div>
            <!-- Colonne Réseaux Sociaux (1/3) -->
            <div class="flex flex-col items-start ml-2 reseaux-sociaux">
                <h3 class="text-3xl font-bold mb-4">Mes Réseaux</h3>
                <!-- Bouton GitHub -->
                <a href="https://github.com/ThomasBerbigier" target="_blank" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300 mb-4">
                    <span class="font-semibold">GitHub</span>
                    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
                    </svg>
                </a>
                <!-- Bouton LinkedIn -->
                <a href="https://www.linkedin.com/in/thomas-berbigier/" target="_blank" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300">
                    <span class="font-semibold">LinkedIn</span>
                    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
