<section class="container mx-auto py-12">
    <div class="border-r-8 border-l-8">
      <!-- Projet 2 -->
      <div class="relative shadow-lg rounded-lg overflow-hidden mb-8 mx-auto" style="width: 80%;">
        <!-- Image sans lien et sans animation -->
        <img src="assets/zoo.webp.webp" class="w-full h-64 object-cover">
        
        <!-- Gradient overlay -->
        <div class="absolute inset-0 bg-gradient-to-r from-gray-800 via-transparent to-transparent opacity-70"></div>
        
        <!-- Titre centré sans effet de transition -->
        <div class="project-link__title absolute left-4 top-1/2 transform -translate-y-1/2 text-white text-4xl font-extrabold uppercase">
          <span class="project-link__title_default">Zoo Arcadia</span>
        </div>
  
        <!-- Description bouton flouté -->
        <div class="absolute top-4 right-4 bg-gray-700 bg-opacity-90 text-white px-4 py-2 rounded-full">
          Projet de fin de formation
        </div>
      </div>
  
      <div class="container mx-auto">
        <!-- Ajuster la grille à deux colonnes dès les petits écrans -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pl-4">
          <!-- Colonne Détails -->
          <div class="md:col-span-2 border-b-8 md:border-b-0 md:border-r-8">
            <h1 class="text-3xl font-bold mb-8">Détails</h1>
            <p class="text-lg mb-4">
              Ce projet avait pour objectif la création d'une application web pour le zoo Arcadia, un zoo situé près de Brocéliande en Bretagne. 
            </p>
            <a href="https://salty-scrubland-07219-ce96da39ee13.herokuapp.com/index.php" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300  mb-4">
              <span class="font-semibold">Visiter le site</span>
              <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
              </svg>
            </a>
          </div>
  
          <!-- Stack -->
          <div class="flex flex-col">
            <h3 class="text-3xl font-bold mb-8">Stack</h3>
            <div class="grid grid-cols-3 gap-4 justify-center">
              <div class="text-center">
                <img src="https://cdn.simpleicons.org/html5/E34F26" alt="HTML5 icon" class="w-20 mx-auto">
                <p class="mt-2">HTML5</p>
              </div>
              <div class="text-center">
                <img src="https://cdn.simpleicons.org/css3/1572B6" alt="CSS3 icon" class="w-20 mx-auto">
                <p class="mt-2">CSS3</p>
              </div>
              <div class="text-center">
                <img src="https://cdn.simpleicons.org/javascript/F7DF1E" alt="JavaScript icon" class="w-20 mx-auto">
                <p class="mt-2">JavaScript</p>
              </div>
              <div class="text-center">
                <img src="https://cdn.simpleicons.org/php/777BB4" alt="PHP icon" class="w-20 mx-auto">
                <p class="mt-2">PHP</p>
              </div>
              <div class="text-center">
                <img src="https://cdn.simpleicons.org/mariadb/003545" alt="MariaDB icon" class="w-20 mx-auto">
                <p class="mt-2">MariaDB</p>
              </div>
              <div class="text-center">
                <img src="https://cdn.simpleicons.org/mongodb/47A248" alt="MongoDB icon" class="w-20 mx-auto">
                <p class="mt-2">MongoDB</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-8 pl-4 mt-8">
          <div class="border-t-8 mr-8 ml-4"></div>
          
          <!-- Contexte -->
          <div class="mr-12">
            <h3 class="text-3xl font-bold mb-8">Contexte</h3>
            <p class="text-lg">
              Le zoo Arcadia est un parc animalier indépendant qui accorde une importance particulière à l'écologie et à la santé de ses animaux.<br> Le directeur, José, souhaitait moderniser le zoo avec une application web permettant aux visiteurs de découvrir les différents habitats, services, et animaux tout en reflétant les valeurs écologiques du zoo. <br>En parallèle, elle devait intégrer un aspect fonctionnel avec un
              espace spécialement conçu pour les professionnels, leur permettant de gérer efficacement les opérations internes et de maintenir le bien-être des animaux. 
            </p>
          </div>
  
          <div class="border-t-8 mr-8 ml-4"></div>
          <!-- Projet -->
        <div class="mr-12">
            <h3 class="text-3xl font-bold mb-8">Projet</h3>
            <p class="text-lg mb-4">
            Le projet avait pour objectif de développer une application web reponsive et déployée en ligne.
            </p>
            
            <ul class="list-disc list-inside mt-4 mb-4 text-lg">
            <li class="mb-2"><strong>Page d’accueil :</strong> Présentation du zoo avec des images, mention des différents habitats et services, ainsi que les avis des visiteurs.</li>
        
            <li class="mb-2"><strong>Menu de l’application :</strong> Un menu permettant la navigation vers les différentes pages, et la connexion des utilisateurs professionnels.</li>
        
            <li class="mb-2"><strong>Vue globale des services :</strong> Présentation des services proposés par le parc (restauration, visites guidées, etc.), configurables depuis l'espace administrateur.</li>
        
            <li class="mb-2"><strong>Vue des habitats :</strong> Affichage des habitats avec leurs descriptions et listes d'animaux associés. Le détail de chaque animal est consultable, incluant l’état de santé saisi par les vétérinaires.</li>
        
            <li class="mb-2"><strong>Gestion des avis :</strong> Les visiteurs peuvent laisser des avis, qui sont validés par les employés avant d'être affichés sur la page d'accueil.</li>
        
            <li class="mb-2"><strong>Connexion sécurisée :</strong> L'accès à certaines fonctionnalités est restreint aux utilisateurs authentifiés (administrateurs, vétérinaires, employés) via un système de connexion sécurisé.</li>

            <li class="mb-2"><strong>Espace administrateur :</strong> Gestion des utilisateurs (employés, vétérinaires), des services, des habitats et des animaux et accès aux statistiques de consultation par animal (popularité).</li>
        
            <li class="mb-2"><strong>Espace employé :</strong> Les employés peuvent valider les avis des visiteurs et gérer les services du zoo. Ils peuvent aussi enregistrer les données alimentaires des animaux.</li>
        
            <li class="mb-2"><strong>Espace vétérinaire :</strong> Les vétérinaires remplissent des comptes rendus quotidiens sur l’état de santé des animaux et la gestion des habitats.</li>
        
            <li class="mb-2"><strong>Formulaire de contact :</strong> Les visiteurs peuvent contacter le zoo via un formulaire en ligne. Les messages sont envoyés directement au personnel du zoo par email.</li>
            </ul>
        </div>
  
  
          <div class="border-t-8 mr-8 ml-4"></div>
          <!-- Défis Techniques -->
          <div class="mr-12">
            <h3 class="text-3xl font-bold mb-8">Défis Techniques</h3>
            <p class="text-lg mb-4">
              S'agissant d'un projet complet, chacune des fonctionnalités a été un défi technique pour moi, me permettant de mettre en pratique toutes les compétences acquises au cours de ma formation. 
              Le développement de l'application a suivi un cheminement méthodique, étape par étape, pour créer l'interface utilisateur, inclure chaque fonctionnalité, et rédiger la documentation
              technique du projet. 
            </p>
            <img src="assets/Capture d'écran 2024-10-19 190041.png" class="w-full md:w-2/3 mx-auto">
          </div>
  
          <div class="border-t-8 mr-8 ml-4"></div>
          <!-- Conclusion -->
          <div class="mr-12">
            <h3 class="text-3xl font-bold mb-8">Conclusion</h3>
            <p class="text-lg mb-4">
                Le projet Zoo Arcadia a été un défi ambitieux visant à développer une application web
                répondant aux besoins variés des visiteurs, administrateur, employés, et vétérinaires du zoo.<br> En
                organisant méthodiquement les tâches à l'aide de Trello et en utilisant un ensemble d'outils
                technologiques adaptés, j’ai réussi à créer une application fonctionnelle.<br> La création de cette
                application, bien plus complexe que mes précédents projets, m'a permis de réaliser
                l'importance de travailler sur des projets complets pour véritablement consolider mes
                connaissances.<br> Vous pouvez tester l'application et consulter le code source ci-dessous.
            </p>
            <a href="https://salty-scrubland-07219-ce96da39ee13.herokuapp.com/index.php" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300 mb-4 ml-8">
              <span class="font-semibold">Visiter le site</span>
              <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
              </svg>
            </a>
            <a href="https://github.com/ThomasBerbigier/ECF-ZOO-ARCADIA" class="inline-flex items-center px-6 py-3 border border-gray-700 text-gray-700 rounded-full hover:bg-gray-700 hover:text-white transition duration-300 mb-4 ml-8">
              <span class="font-semibold">Visiter le GitHub</span>
              <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 19L19 5M5 5h14v14"></path>
              </svg>
            </a>
          </div>
  
          <div class="border-t-8 mr-8 ml-4"></div>
          <!-- Section Autres Projets -->
          <h2 class="text-3xl font-bold mb-4">Autres Projets</h2>
  
          <!-- Grille à deux colonnes pour afficher les deux autres projets -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-4">
            <!-- Projet 1 -->
            <div class="relative shadow-lg rounded-lg overflow-hidden mb-8 project-link mr-4 opacity-0 animate-slideUp project-delay-1">
              <a [routerLink]="['/projet1']" class="block">
                <img src="assets/casino_table_dice.webp.webp" class="w-full h-64 object-cover">
                <div class="absolute inset-0 bg-gradient-to-r from-gray-800 via-transparent to-transparent opacity-70"></div>
                <div class="project-link__title">
                  <span class="project-link__title_default">Jeu de dés</span>
                  <span class="project-link__title_hover">Jeu de dés</span>
                </div>
                <div class="absolute top-4 right-4 bg-gray-700 bg-opacity-90 text-white px-4 py-2 rounded-full">
                  Projet en cours de formation
                </div>
              </a>
            </div>
  
            <!-- Projet 3 -->
            <div class="relative shadow-lg rounded-lg overflow-hidden project-link mr-4 opacity-0 animate-slideUp project-delay-3">
              <a [routerLink]="['/projet3']" class="block">
                <img src="assets/gestion_de_stock.webp.jpg" class="w-full h-64 object-cover">
                <div class="absolute inset-0 bg-gradient-to-r from-gray-800 via-transparent to-transparent opacity-90"></div>
                <div class="project-link__title">
                  <span class="project-link__title_default">Gestion de stock</span>
                  <span class="project-link__title_hover">Gestion de stock</span>
                </div>
                <div class="absolute top-4 right-4 bg-gray-700 bg-opacity-90 text-white px-4 py-2 rounded-full">
                  Projet personnel
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  