<section class="container mx-auto py-12">
    <div class="border-r-8 border-l-8">

        <!-- Ligne À propos -->
        <div class="container mx-auto pl-4">
            <div class="mb-8 mr-12">
                <h3 class="text-3xl font-bold mb-8 ml-8">À propos</h3>
                <p class="text-lg ml-8">Après près de dix années d'expérience dans le commerce, dont cinq en tant qu'entrepreneur, j'ai décidé de réorienter ma carrière vers le numérique, un domaine qui m'a toujours passionné.<br><br> Cette transition a commencé avec une formation de Graduate Développeur Web, où j'ai acquis des compétences clés en programmation, gestion de projets web, et intégration des technologies web modernes.<br><br> À travers des projets concrets, j'ai développé des sites et des applications web fonctionnelles, tout en me formant aux bases essentielles du développement.<br>

                    Au fur et à mesure de ma progression, j'ai abordé des technologies de plus en plus avancées.<br> Mon premier projet consistait en une réalisation relativement simple en HTML, CSS et JavaScript, ce qui m'a permis de poser les bases de l'intégration front-end.<br><br> J'ai ensuite évolué vers un projet back-end avec PHP, où j'ai appris à gérer les bases de données SQL et NoSQL, renforçant ainsi ma compréhension des architectures côté serveur. Aujourd'hui, je poursuis un projet plus ambitieux, intégrant Java et Angular, deux technologies dans lesquelles je souhaite me spécialiser.<br> Ce projet, plus professionnel, illustre la maturation de mes compétences et la direction dans laquelle je souhaite orienter ma carrière.<br><br>
                    
                    Mes expériences professionnelles antérieures, bien que dans le domaine du commerce, m'ont permis de développer des qualités essentielles comme l'organisation, la polyvalence, la gestion du stress, et une grande capacité d'adaptation.<br> Ces compétences se révèlent particulièrement précieuses dans le domaine du développement, où la réactivité, la rigueur et l'apprentissage continu sont primordiaux.<br> En tant qu'entrepreneur, j'ai également appris à prendre des décisions rapidement, à gérer des projets de manière autonome et à adapter mes solutions aux besoins des clients, des compétences transférables à la gestion de projets web et d'applications.
                    
                    <br><br>À travers mes projets, je démontre non seulement l'évolution de mes compétences techniques, mais aussi ma capacité à m'adapter à des environnements et des technologies variés, tout en m'appuyant sur une expérience professionnelle solide dans d'autres secteurs.<br> Mon objectif est de continuer à développer ces compétences pour m'impliquer pleinement dans des projets professionnels innovants en tant que Concepteur Développeur d'Applications.</p>
            </div>
        </div>

        <div class="container mx-auto pl-4">
            <div class="border-t-8 mr-8 ml-4"></div>
            <!-- Ligne Expérience -->
            <div class="mt-8 mr-12">
                <h3 class="text-3xl font-bold mb-8 ml-8">Expérience</h3>
                <!-- Expérience Professionnelle -->
                <div class="ml-8">
                    <p class="font-bold text-xl mt-4">Employé commercial</p>
                    <p class="font-medium text-lg">Fert recyclage - CDI</p>
                    <p class="text-base">2020 - Aujourd'hui</p>
                </div>

                <div class="border-t-2 ml-4 my-4"></div>

                <div class="ml-8">
                    <p class="font-bold text-xl">Commerce indépendant</p>
                    <p class="font-medium text-lg">Auto-entrepreneur</p>
                    <p class="text-base">2015 - 2020</p>
                </div>
            </div>
        </div>
    </div>

</section>
