<section class="container mx-auto py-12">
    <div class="border-r-8 border-l-8">

        <!-- Ligne À propos -->
        <div class="container mx-auto pl-4">
            <div class="mb-8 mr-12">
                <h3 class="text-3xl font-bold mb-8 ml-8">À propos</h3>
                <p class="text-lg ml-8">Après près de dix années d'expérience dans le commerce, dont cinq en tant qu'entrepreneur, j'ai décidé de réorienter ma carrière vers le numérique, un domaine qui m'a toujours int͏éressé.<br><br> Cette transition a commencé avec une formation de Graduate Développeur Web, où j'ai o͏btenu des aptitudes͏ en programmation, gestion de projets web, et intégration des technologies web modernes.<br><br> À travers des projets concrets, j'ai développé des sites et des applications web fonctionnelles, tout en appr͏enan͏t les͏ base͏s du développement.<br>

                    Au fur et à mesure de ma progression, j'ai abordé des technologies de plus en plus avancées.<br> Mon premier projet était relativement simple, en HTML, CSS et JavaScript, ce qui m'a permis de mettre en pratique mes connaissances front-end.<br><br> Mon second projet important a été développé, pour la partie back-end, avec PHP, où j'y ai appris à gérer les bases de données SQL et NoSQL, la mise en place de règles de sécurité, etc. Couvrant toutes les compétences du référentiel de formation, il m'a demandé beaucoup d'efforts mais m'a énormément fait progresser.<br><br> Aujourd'hui, je poursuis un projet plus professionnel, intégrant Java et Angular, deux technologies dans lesquelles je souhaite me spécialiser.
                    
                    <br><br>Mes expériences professionnelles antérieures, bien que dans le domaine du commerce, m'ont permis de développer des qualités comme l'organisation, la polyvalence, la gestion du stress, et l'autonomie. Ces compétences pourront m'être utile pour la suite de mon parcours professionnel.<br>
                    
                    <br>Mon objectif est de continuer à développer ces compétences par le biai d'une formation en alternance, me préparant au métier de Développeur Web.</p>
            </div>
        </div>

        <div class="container mx-auto pl-4">
            <div class="border-t-8 mr-8 ml-4"></div>
            <!-- Ligne Expérience -->
            <div class="mt-8 mr-12">
                <h3 class="text-3xl font-bold mb-8 ml-8">Expérience</h3>
                <!-- Expérience Professionnelle -->
                <div class="ml-8">
                    <p class="font-bold text-xl mt-4">Employé commercial</p>
                    <p class="font-medium text-lg">Fert recyclage - CDI</p>
                    <p class="text-base">2020 - Aujourd'hui</p>
                </div>

                <div class="border-t-2 ml-4 my-4"></div>

                <div class="ml-8">
                    <p class="font-bold text-xl">Commerce indépendant</p>
                    <p class="font-medium text-lg">Auto-entrepreneur</p>
                    <p class="text-base">2015 - 2020</p>
                </div>
            </div>
        </div>
    </div>

</section>
